@media screen  and (min-width: 768px){
    iframe{
        display: block;
        height: 500px;
        width: 400px;
        margin-left: 330px;
        margin-top: 0px;
    }
    nav{
        display: block;
    }
    #bur{
        display: none;
    }
}
@media screen  and (min-width: 1024px){
    iframe{
        display: block;
        height: 500px;
        width: 650px;
    }
    nav{
        display: block;
    }
    #bur{
        display: none;
    }
}
@media screen  and (min-width: 1200px){
    iframe{
        display: block;
        height: 500px;
        width: 820px;
    }
    nav{
        display: block;
    }
    #bur{
        display: none;
    }
}
