@media screen  and (min-width: 768px){
    body{
        overflow-x: hidden;
    }
    iframe{
        display: block;
        height: 500px;
        width: 400px;
        margin-left: 330px;
        margin-top: 0px;
    }

    
}
@media screen  and (min-width: 1024px){
    body{
        overflow-x: hidden;
    }
    iframe{
        display: block;
        height: 500px;
        width: 650px;
    }
}
@media screen  and (min-width: 1200px){
    body{
        overflow-x: hidden;
    }
    iframe{
        display: block;
        height: 500px;
        width: 820px;
    }
}
