@media screen  and (min-width: 768px){
    body{
        overflow-x: hidden;
    }
    iframe{
        display: block;
        height: 500px;
        width: 400px;
        margin-left: 330px;
        margin-top: 0px;
    }
    /*
    .imenu{
        position: relative;
        transform: translate(-700%, 0%);
        
    }
    */
   
    
}
@media screen  and (min-width: 1024px){
    body{
        overflow-x: hidden;
    }
    iframe{
        display: block;
        height: 500px;
        width: 650px;
    }
    /*
    .imenu{
        position: relative;
        transform: translate(-1000%, 0%);
        
    }
    */
}
@media screen  and (min-width: 1200px){
    body{
        overflow-x: hidden;
    }
    iframe{
        display: block;
        height: 500px;
        width: 820px;
    }
    /*
    .imenu{
        position: relative;
        transform: translate(-1300%, 0%);
        
    }
    */
}
